<window class="window::MainWnd">
	<ID>-1</ID>
	<X>0</X>
	<Y>0</Y>
	<Width>240</Width>
	<Height>320</Height>
	<Text>Main Frame</Text>
	<Border>False</Border>
	<HasCaption>False</HasCaption>
	<SystemMenu>True</SystemMenu>
	<BorderType>DlgFrame</BorderType>
	<MinimizeBox>True</MinimizeBox>
	<MaximizeBox>True</MaximizeBox>
	<window class="window::Button">
		<ID name="IDOK">0x40000001</ID>
		<X>132</X>
		<Y>20</Y>
		<Width>80</Width>
		<Height>30</Height>
		<Text>OK</Text>
		<Visible>True</Visible>
	</window>
	<window class="window::Button">
		<ID name="IDCANCEL">0x40000002</ID>
		<X>132</X>
		<Y>60</Y>
		<Width>80</Width>
		<Height>30</Height>
		<Text>Cancel</Text>
		<Visible>True</Visible>
	</window>
</window>
