<window class="window::MainWnd" name="Null window">
	<ID>-1</ID>
	<X>0</X>
	<Y>0</Y>
	<Width>240</Width>
	<Height>320</Height>
	<Text>Main Frame</Text>
	<Border>True</Border>
	<HasCaption>True</HasCaption>
	<SystemMenu>True</SystemMenu>
	<BorderType>DlgFrame</BorderType>
	<MinimizeBox>False</MinimizeBox>
	<MaximizeBox>False</MaximizeBox>
</window>
