<window class="window::MainWnd" name="GroupBoxWindow">
	<ID>-1</ID>
	<X>0</X>
	<Y>0</Y>
	<Width>240</Width>
	<Height>320</Height>
	<Text>Main Frame</Text>
	<Border>False</Border>
	<HasCaption>False</HasCaption>
	<SystemMenu>True</SystemMenu>
	<BorderType>DlgFrame</BorderType>
	<MinimizeBox>True</MinimizeBox>
	<MaximizeBox>True</MaximizeBox>
	<window class="window::GroupBox">
		<ID name="ID_GROUPBOX" type="16384" />
		<X>2</X>
		<Y>0</Y>
		<Width>236</Width>
		<Height>316</Height>
		<Text>Groupbox</Text>
	</window>
</window>
